body {
    padding: 0.3em;
}

ul {
    color: #DADAC4;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header-content img {
    border-radius: 50%;
    width: 6em;
    align-self: center;
}

main {
    padding-right: 30px;
}

body {
    color: #222222;
}

h1 {
    color: #DADAC4;
    text-align: center;
    padding-bottom: 0px;
}

h2 {
    color: #333333;
}

h6 {
    font-size: 1em;
    color: #DADAC4;
    padding-top: 0px;
    text-align: center;
    margin-top: 0;
}

.header-content {
    display: flex;
    flex-direction: column;
    background-color: #444943;
    color: white;
    font-weight: bolder;
}
header {
    background-color: #444943;
    color: white;
    font-weight: bolder;
    width: auto;


}


li text {
    padding: 3px 2px;
    display: contents;
}

strong {
    padding: 1px 2px;
}
h3 {
    font-size: 1em;
    color: #444943;
}

h4 {
    font-size: 0.8em;
}

.small {
    width: 30%;
}

.nav-content {
    display: none;
    width: 220px;
}

hr {
    border-top: #DADAC4;
}
@media screen and (min-width: 768px) {

    body {
        display: flex;
    }

    img {
        margin: 10% 0 10% 0;
    }

    li {
        margin-bottom: 5%;
    }

    main {
        padding-left: 3%;
    }

    nav {
        padding: 0% 5%;
        
    }

    .nav-content {
        display: flex;
    }

    .border-main {
        border: 1em solid #dbd9c9;
        border-left: 0;
    }

    }